.maha {
     width: 320px;
    padding-left: 102px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.nature2 {
    
    
    width: 150px;
    padding-left: 30px;
    margin-top: 20px;
}
.nature1 {
    width: 200px;padding-left: 20px;margin-top: 20px;
}